<h1 id="tableLabel">Jira</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!cards"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cards">
  <thead>
    <tr>
      <th>key</th>
      <th>summary</th>
      <th>status</th>
      <th>issuetype</th>
      <th>assignee</th>
      <th>leadtime</th>
      <th>parent</th>
      <th>bcp</th>
      <th>aggregatetimespent</th>
      <th>bcpXhours</th>
      <th>storyType</th>
      <th>observations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards">
      <td>{{ card.key }}</td>
      <td>{{ card.summary }}</td>
      <td>{{ card.status }}</td>
      <td>{{ card.issuetype }}</td>
      <td>{{ card.assignee }}</td>
      <td>{{ card.leadtime }}</td>
      <td>{{ card.parent }}</td>
      <td>{{ card.bcp }}</td>
      <td>{{ card.aggregatetimespent }}</td>
      <td>{{ card.bcpXhours }}</td>
      <td>{{ card.storyType }}</td>
      <td>{{ card.observations }}</td>
    </tr>
  </tbody>
</table>